<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="empresas.Properties.Settings.sueldosConnectionStringMySql"
            connectionString="server=sis041;user id=sueldos;Password=sueldos;database=sueldos;Allow Zero Datetime=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="empresas.Properties.Settings.sueldosConnectionStringDefault"
            connectionString=""
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="CultureInfo"  value="es-AR"/>
        <add key="CurrencySymbol"  value="$"/>
        <add key="ShortTimePattern"  value="HH:mm:ss"/>
        <add key="ShortDatePattern"  value="dd/MM/yyyy"/>
        <add key="NumberDecimalSeparator"  value="."/>
        <add key="CurrencyDecimalSeparator"  value="."/>
        <add key="NombreServidorDB"  value="(LOCAL)"/>
        <add key="TiempoDeEsperaDB"  value="900"/>
    </appSettings>
</configuration>